@{
    ViewBag.Title = "Yhteystiedot";
    ViewBag.Keksinto = "Keksin uuden jutun";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <address>
        Testitie 5<br />
        Testilä<br />
        <abbr title="Phone">P:</abbr>
        040-123 4567
    </address>
    <h5>@ViewBag.Keksinto</h5>

    <address>
        <strong>Tuki:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>