@using System.Globalization
@{
    ViewBag.Title = "Home Page";
}

@*<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>*@

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


<div class="jumbotron">
    <h1>Northwind demo app</h1>
    <p class="lead">Tämä on Northwind-sovelluksen working demo</p>

    @*BS5/SVG-ikonit, ikonit ladattu koneelle:*@
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"><img src="~/Icons/alarm.svg"> ASP.NET-sivut &raquo;</a></p>
    <p><a href="https://asp.net"><img src="~/Icons/alarm.svg"></a></p>

    @*FAS-ikonit, tuotu verkosta linkillä, joka yläpuolella:*@
    <p><a href="https://asp.net" class="btn btn-primary btn-lg fas bi bi-car-front-fill"> ASP.NET-sivut </a></p>
    <h1><p><a href="https://asp.net" class="fas bi bi-car-front-fill" title="ASP.NET-sivut"></a></p></h1>

    @*Modal-tyyppisen ikkunan avauspainike*@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LoginRuutu">Avaa Modal-ikkuna</button>

    @*Modal -tyyppisen ikkunan koodiesimerkki*@
    <div class="modal" id="LoginRuutu">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Kirjautuminen Northwind-järjestelmään</h1>
                </div>
                <div class="modal-body">
                    <p>Tässä voisi vaikka luetella jotain tietoja taikka vastata kyllä/ei...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kirjaudu</button>
                    <button type="button" class="btn btn-danger" data-db-dismiss="modal">Peruuta</button>
                </div>
            </div>
        </div>
    </div>


    @*@for (int i = 0; i < 10; i++)*@
    <!--{-->
    @*<p>@i</p>*@
    <!--}-->

    <p>Nyt on @DateTime.Now</p>
    @*<p>Nyt on @DateTime.Now.ToString(new CultureInfo("en-US"))</p>*@

</div>

