
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3942.612622451993!2d25.658221820801124!3d60.39061848250662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f42e9464915d%3A0xed1286af9480b7e7!2sPorvoo!5e0!3m2!1sfi!2sfi!4v1746786614920!5m2!1sfi!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

